<section>
  <h1>ngx-material-intl-tel-input - Versión en Español</h1>
  <p>
    Esta es la versión en español del componente de entrada de teléfonos
    internacionales.
  </p>
  <p>
    Los nombres de países aparecen en español y la búsqueda funciona en español.
  </p>

  <form [formGroup]="formTestGroup" (ngSubmit)="onSubmit()">
    <ngx-material-intl-tel-input
      (currentValue)="getValue($event)"
      (currentCountryCode)="getCountryCode($event)"
      (currentCountryISO)="getCountryISO($event)"
      fieldControlName="phone"
      [emojiFlags]="false"
      [includeDialCode]="false"
      [useMask]="false"
      [forceSelectedCountryCode]="false"
      [showMaskPlaceholder]="true"
      [outputNumberFormat]="PhoneNumberFormat.INTERNATIONAL"
      [appearance]="'fill'"
    ></ngx-material-intl-tel-input>
    <button mat-flat-button type="submit" [disabled]="!formTestGroup.valid">
      Enviar
    </button>
    <button mat-flat-button (click)="resetForm()" type="button">
      Reiniciar
    </button>

    <mat-checkbox (change)="toggleShowSetPhoneInput()"
      >Mostrar entrada para cambiar número</mat-checkbox
    >
    @if (showSetPhoneInput()) {
      <mat-form-field>
        <mat-label>Establecer número de teléfono</mat-label>
        <input matInput type="text" formControlName="setPhoneTextbox" />
      </mat-form-field>
      <button mat-flat-button (click)="setPhone()" type="button">
        Establecer número
      </button>
    }
  </form>
  @if (currentPhoneValue()) {
    <div>
      Valor devuelto: <br /><mat-chip>{{ currentPhoneValue() }}</mat-chip>
    </div>
    <div class="current-country-code-container">
      @if (currentCountryCode()) {
        <div>
          Código de país: <br /><mat-chip>{{ currentCountryCode() }}</mat-chip>
        </div>
      }
      @if (currentCountryISO()) {
        <div>
          ISO del país: <br /><mat-chip>{{ currentCountryISO() }}</mat-chip>
        </div>
      }
    </div>
  } @else {
    <div>No se ha devuelto ningún valor</div>
  }
  @if (submittedPhoneValue()) {
    <div>
      Valor enviado: <br /><mat-chip>{{ submittedPhoneValue() }}</mat-chip>
    </div>
  }
  <router-outlet></router-outlet>
</section>
